.navbar a {
    font-size: 1.8rem;
    color: black;
    font-weight: 300;
    font-family: 'SF Sports Night', sans-serif;
}

.navbar  {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    padding: 0.8rem 0rem;
    background-color: white;
    z-index: 10 !important;
}

.navbar a{
    text-decoration: none !important;
}

