.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #0e0e0e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 8rem;
  text-align: center;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 