@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');


.homepage{
    z-index: -1;
}

#ball-model{
 margin-top: -20vh;
 height: 400px;
 width: 400px;
}


.header {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);
  }
  
  .header img{
    background-image: rgba(0, 0, 0, 0.2);
}
 
  .header h3{
      color: white;
      font-size: 1.5rem;
  }
  
  .lines {
      color: #59c1fe;
      position: fixed;
      width: 90vw;
      height: 2.8em;
      /* background-image: linear-gradient(to bottom, rgba(#59c1fe, 0.2) 20%, #59c1fe 40%, #59c1fe 60%, rgba(#59c1fe, 0.2) 80%); */
      background-size: 1px 0.5em;
      background: repeating-linear-gradient(
      to bottom,
      #59c1fe 0px,
      #039BE5 3px,
      rgba(255, 255, 255, 0) 3px,
      rgba(255, 255, 255, 0) 8px
    );
      box-shadow: 0 0 1em rgba(#59c1fe);
      transform: translateY(-1.4em);
      left: 0;
    }
    
  
 .header h1 {
    position: relative;
    font-family: 'Exo';
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    font-size: 5em;
  }
  
  .header h1:after {
      content: '';
      position: absolute;
      top: -0.1em;
      right: 0.05em;
      width: 0.4em;
      height: 0.4em;
      background: 
        radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
      background-repeat: no-repeat;
    }
    
    .span-first {
      display: block;
      text-shadow:  0 0 0.1em #8ba2d0, 0 0 0.2em black;
      -webkit-text-stroke: 0.065em #00000082;
      /* text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3; */
    }
    
    span:last-child {
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
      -webkit-text-stroke: 0.01em #94a0b9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  h2 {
    font-family: 'Mr Dafoe';
    margin: 0;
    font-size: 4em;
    margin-top: -0.7em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: rotate(-7deg);
  }
  
  .court{
      height: 85vh;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center ;
      background-size: cover ;
      margin-top: -4vh;
  }


  .text h1{
    font-family: 'Exo';
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    font-size: 5.5vw;
  }

.kalender{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event{
  display: flex;
  flex-direction: column;
  width: 42vw;
}

.date{
  display: flex;
  flex-direction: column;
 text-align: center;
  border: solid black 1px;
  border-radius: 25px;
  overflow: hidden;
 width: 4.5rem;
 height: 4.5rem
}

.date .month{
  background-color: lightgray;
}

.date .day{
  margin: 0;
}

#aktuelles h6{
  text-align: center;
  margin-top: 2rem;
}

#vereinsleitung h3{
  padding-bottom: 1rem;
  font-weight: 800;
}



.footer {
  display: block;
  position: fixed;
  height: 6vh;
  width: 100%;

  padding-top: 0px;
  text-align: center;
  align-items: center;
  background-color: white;
 bottom: 0;
 left: 0;
}

.footer img{
max-height: 6vh;
}

#mitgliedschaft .text{
  margin-top: -2vh;
}

.mitgliedschaft h1{
  margin-bottom: 2vh;
}

#kontakt .text{
  margin-top: -4vh;
}

.kontakt h4{
  font-weight: 300;
}

.kontakt h5{
  font-weight: 600;
}

#vereinsleitung .text{
  margin-top: -8vh;
  margin-bottom: 12vh;
}

.vereinsleitung-liste{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vereinsleitung-liste .person{
    width: 25vw;
}

.vereinsleitung-liste .person h4{
  padding-top: 2vh;
}

.zusatz{
        padding-top: 2vh;
        font-size: 0.8rem;
    }

.bankverbindung p{
  margin-top: 1vh;
       font-size: 1.1rem;
    }

 .adressen p{
  margin: 0.4rem   
    }

  .adressen h5{
    font-weight: 600;
  }

  .adressen{
    margin-bottom: 5vh;
  }

  .telefon-mail{
    margin: 2vh 0vw;
    padding-top: 2vh;
    border-top: 1px grey solid;
  }

  .telefon-mail p{
    margin-top: 0.5rem;
  }

  .telefon-mail h4{
    font-size: 1.2rem !important;
    padding: 0.5rem 0rem;
  }

  .telefon-mail-kontakt{
    padding-top: 0.75rem;
  }


  .telefon-mail img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  #map{
    overscroll-behavior: none;
    overflow-y: hidden;
    pointer-events:visiblePainted;
    touch-action: none;
  }

.map-div{

  overscroll-behavior: none;
  overflow-y: hidden;
  touch-action: none;
}



  @media (min-width: 769px) {
 
    .homepage{
        margin: 5vh 5vw 0vh 5vw;
        font-size: 120%
    }

  

    
          .second-image{
              height: 80vh;
              width: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
          }
          
          
          #js-target{
              left: 0;
              position: absolute;
              right: 0;
              top: 200vh;
              bottom: -400vh
          }



          .container{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              /* min-height: 100vh; */
              width: 100% !important;
              max-width: 100% !important;
              padding: 10vh 0vw 0vh 0vw;
          }

          .container:first-child{
            padding: 0;
          }

          #home{
            padding-top: 15vh;
           }
          
          .container h1{
              margin-top: 6vh;
          }
    
        
        .image{
            width: 40%;
            height: 90vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
            float:left;  
        }

        .image:nth-of-type(2n){
          float:right; 
        }
        
        .text{
            /* padding-top: 4vh; */
            width: 50vw;
            text-align: justify;
        }
        
        .text h1{
            text-align: center;
        }
        
        .team{
            padding-top: 1rem;
        }
        
        .mitgliedschaft  tr td{
            padding-left: 2rem;
            padding-bottom: 0.2rem;
        }
        
        
        .link{
            color: blue;
            text-decoration: underline ;
        }
        
        .container h3{
            margin: 1rem 0rem 0.2rem 0rem;
        }
        
        .kontakt{
            text-align: center;
        }
        
        .adressen{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
        }
        
        .vereinsleitung{
            display: flex;
            flex-direction: row;
            /* flex-wrap: wrap; */
        }

 

        
        .person p{
        margin: 0.5rem;
        }
        
        .person h4{
            margin-bottom: 0.8rem;
        }

        .last-item-with-footer{
          display: flex;
          flex-direction: column;
          height: 100%;
        }
    
         .bankverbindung{
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 1rem;
        }

        #mitgliedschaft h3{
          margin-top: 4vh;
        }

       .all-teams{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content:space-between
        }

        .team{
          width: 45%
        }

    }



@media (max-width: 768px) {

  .App{
    margin-bottom: 0;
  }


  p{
    font-size: 1rem;
  }

  .header{
      /* padding-top: 25vh; */
      /* transform: rotate(-90deg); */
      width: 100vw;
  }

  .lines{
    position: relative;
    top: 10vh;
  }

  .header h1{
      font-size: 6.1vh;
      max-width: 100%;
      padding-top: 0;
      padding-left: 0;
      letter-spacing: -2px; 

  }

  .container h1{
    font-size: 2.5rem;
    padding-left: 3vw;
    margin-bottom: 3vh;
  }

  .header h2{
      font-size: 4.2vh;
       margin-top: -0.6em;
  }

  .header h3{
      font-size: 1rem;
      padding-top: 5vh;
    }


  .lines {
    width: 100vw;
      height: 1.8em;
      background: repeating-linear-gradient(
      to bottom,
      #59c1fe 0px,
      #039BE5 2px,
      rgba(255, 255, 255, 0) 2px,
      rgba(255, 255, 255, 0) 5px
    );
      transform: translateY(-3.8em);
    }

    .court {
      height: 40vh;
      /* transform: rotate(90deg) ; */
    }

    .container{
      display: flex;
      flex-direction: column-reverse;
      --bs-gutter-x: 0rem;
      padding: 5vh 0vw;
    }

    .container:nth-of-type(2n){
      flex-direction: column;
    }

    #vereinsleitung{
      padding-bottom: 5vh;
      display: flex;
      flex-direction: column;
    }

 

    .image{
      height: 20vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

   
    .text{
      padding: 0rem 1rem 2rem 1rem;
    }

    .text h4{
      font-size: 1.1rem;
    }

    .kalender{
      margin-bottom: 2vh;
    }

    .kalender .event{
      width: 65vw;
      text-align: justify;
      /* font-size: 1rem; */
    }

    .kalender .event h3{
      text-align: left;
    }


    .vereinsleitung-liste .person p{
      font-size: 1rem;
      margin: 0.2rem 0rem;
    }

    #vereinsleitung h3{
      padding-top: 1rem;
    }

    #vereinsleitung h4{
      padding-top: 0.5rem;
    }

    #vereinsleitung .text{
      margin-bottom: 0vh;
    }

    #vereinsleitung .image{
      height: 30vh;
    }

    .footer{
      height: 6vh;
      margin-bottom: 3vh;
      display: none;
    }
 

    .mitgliedschaft h3{
      margin-top: 4vh;
    }

    .kontakt p{
      font-size: 1rem;
      margin-bottom: 0;
    }
  
    .adressen{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3vh;
    }

   

    .satzung{
      margin-top: 3vh;
    }


    .team{
      margin-top: 6vh;
    }

    .team p{
      font-size: 1rem;
    }

    .beiträge{
     margin-left: 10vw;
    }

    .beiträge td:first-child{
      padding-right: 5vw;
    }

    .vereinsleitung-liste .person{
      width: 45vw;
      margin-bottom: 2vh;
  }

 

  .bankverbindung{
    width: 90%;
    flex-direction: column;
    font-size: 1rem;
    margin: 3vh 0vw 1vh 0vw;
  }

  .bankverbindung p{
    margin: 0.2rem;
    font-size: 1rem;
  }

  .adressen p{
   font-size: 1rem;  
      }
 
      .kontakt h4{
        font-size: 1rem;
      }

      .kontakt h5{
        font-size: 1rem;
      }

}










/* +++++++++++++ React-locomotive-scroll

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }